.input_data_to_pay {
    width: 384px;
    height: 66px;
    border: 1px solid #DA8EF4;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #F5F3FF;
    font-size: 36px;
    text-align: center;
}
.input_data_to_pay:focus {
    outline: none;
    transition: 0.2s;
    border: 1px solid #563462;
    background-color: #efedf8;
}
.title_payment {
    font-size: 48px;
}