.input_in_login {
    border: solid 1px black;
    width: 270px;
    margin-left: 30px;
    height: 25px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 5px;
}
.input_in_login:focus {
    outline: none;
}
.form_style_login > div > label {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 15px;
}
.btn_from_login_form {
    width: 170px;
    height: 45px;
    align-self: flex-end;
    font-size: 0.9em;
    font-weight: bold;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 20px;
}
.btn_from_login_form:focus {
    outline: none;
}
.btn_from_login_form:hover {
    transition: 0.3s;
    background-color: #615c85;
    color: white;
    cursor: pointer;
}
.form_style_login {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}