
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Century gothic";
    overflow-x: hidden;
}
.header_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: #615c85;
    z-index: 260;
}
.header_content {
    align-self: center;
    height: 100px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_input {
    padding-left: 20px;
    background-color: #615c85;
    width: 336px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 1.5em;
    letter-spacing: 4px;
    border-left: solid 1px rgb(202, 198, 198);
    color: rgba(245, 245, 245,0.7);
    
}
.search_input::placeholder {
    color: rgba(240, 232, 232, 0.521);
    padding-left: 10px;
}
.search_input:focus {
    outline: none;
    transition: 0.3s;
}
.search_button {
    display: none;
}
.search_window_in_header {
    display: flex;
}
.search_button_label {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 8vh;
    cursor: pointer;
}
.search_button_label_costil {
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 30px;
}
.search_button_label:hover {
    cursor: pointer;
}
.link_point_menu {
    width: 270px;
    height: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.link_point_menu:hover {
    background-color: rgba(228, 228, 228, 0.356);
}
.navlink_menu > li {
    color: black;
    font-size: 18px;
    margin-left: 2px;
}
.list_to_links {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bok_menu_btn {
    display: none;
}
.button_login_btn, .button_signup_btn {
    outline: none;
    font-size: 1.5em;
    color: white;
    background-color: #615c85;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}
.button_login_btn:hover, .button_signup_btn:hover {
    transition: 0.5s;
    color: black;
}
.inputs_sign_login {
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_nickname__text {
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.style_bok_menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 200;
    margin-top: 25px;
    align-self: flex-start;
}
.style_bok_menu_img_costil { 
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    left: 302px;
    top: 25px;
}
.style_bok_menu:hover > .style_bok_menu_img {
    transition: 0.2s;
    opacity: 0;
}
.style_bok_menu:hover > .style_bok_menu_img_costil {
    transition: 0.5s;
    opacity: 1;
}