* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Century gothic";
}
.header_main {
    height: 150px;
    width: 100%;
    background-color: rgb(133, 59, 177);
}
.header_content {
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.search_input {
    width: 336px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 1.5em;
}
.search_button {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    font-size: 1.5em;
}
.inputs_sign_login {
    width: 500px;
    height: 100px;
    margin-top: 40px;
}
.button_signup {
    width: 250px;
    height: 60px;
    font-size: 2em;
    color: indigo;
}
.button_login {
    width: 200px;
    height: 60px;
    font-size: 2em;
    color: indigo;
}