.slider_main {
    outline: none;
    margin-top: 20px;
    width: 1300px;
}
.slider_main_border_costil {
    width: 1300px;
}
.photo_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}