@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.itempage_border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.inform_to_item_page {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}
.style_img_item {
  width: 500px;
  height: 590px;
}
.title_item > p {
  color: #611fcb;
  opacity: 0.9;
  font-weight: 100;
  font-size: 24px;
  width: 500px;
}
.price_item {
  height: 50px;
  width: 80px;
  border-bottom: 0.8px solid #d04fe6;
}
.inform_to_item_aside {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  width: 500px;
}
.price_item > p {
  font-weight: 300;
  font-size: 36px;
  color: #8140d3;
}
.category_item {
  height: 60px;
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.category_item > label {
  font-size: 32px;
  color: #6200ff;
  border-bottom: 0.8px solid #d04fe6;
}
.category_item > p {
  font-size: 26px;
  color: #9e72e4;
  margin-bottom: 0;
}
.weight_item {
  height: 60px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.weight_item > label {
  font-size: 32px;
  color: #6200ff;
  border-bottom: 0.8px solid #d04fe6;
}
.weight_item > p {
  font-size: 26px;
  color: #9e72e4;
  margin-bottom: 0;
}
.param_to_item_size {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.param_to_item_size > p {
  font-size: 32px;
  color: #6200ff;
  border-bottom: 0.8px solid #d04fe6;
}
.sizes_to_item {
  width: 226px;
  display: flex;
  justify-content: space-between;
}
.form_radio {
  margin-bottom: 10px;
}
.form_radio input[type="radio"] {
  display: none;
}
.form_radio label {
  color: #9e72e4;
  font-size: 36px;
  border-bottom: solid 0.8px #d04fe6;
}

.form_radio input[type="radio"]:checked + label {
  color: #6200ff;
}

.form_radio label:hover {
  color: #8140d3;
  cursor: pointer;
}
.inf_item_title {
  font-weight: 200;
  font-size: 36px;
  line-height: 56px;
  color: #6200ff;
}
.inf_item_words {
  width: 500px;
  font-weight: 200;
  font-size: 24px;
  line-height: 42px;
  color: #9e72e4;
}
.field_bottom_item {
  height: 73px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}
.field_bottom_bottom_item {
  width: 629px;
  border-bottom: 0.8px solid #d04fe6;
}
.count_tovara {
  width: 120px;
  height: 46px;
  border: 1px solid #919090;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f3ff;
}

.button_reg_count {
  border: none;
  border-radius: 10px;
  background-color: #f5f3ff;
  height: 44px;
  width: 40px;
  font-weight: bold;
}
.img_and_inf_item {
  width: 500px;
}
.button_reg_count:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #e7e5f1;
}

.count__text {
  font-size: 28px;
  line-height: 42px;
  color: #776969;
}
.button_from_buy {
  width: 135px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border: solid 1px #ee761f;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
  color: #ee761f;
}
.button_from_buy:focus {
  outline: none;
}
.button_from_buy:hover {
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background-color: #cf661b;
}
.size_field__text {
  font-size: 32px;
  color: #9e72e4;
}