.userpage_border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.title_userpage {
    border-bottom: 1px solid #D04FE6;
    font-size: 48px;
}
.navlink_menu_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 237px;
    height: 207px;
    border: solid 1px #966191;
    border-radius: 10px;
}

.navlink_menu_bar>.navlink_active>.navlink_active__style>p {
    width: 157px;
    font-size: 36px;
    color: black;
}

.navlink_active__style>p {
    color: black;
    font-size: 36px;
}

.navlink_non_active>.navlink_active__style>p {
    margin-bottom: 0;
    margin-left: 10px;
    border-bottom: solid 2px #D04FE6;
}

.navlink_non_active>.navlink_active__style>p:hover {
    border-bottom: solid 4px #D04FE6;
}

.navlink_active__style>p:hover {
    transition: 0.1s;
    border-bottom: solid 2px #D04FE6;
}

.navlink_active {
    width: 217px;
}

.userpage_content {
    display: flex;
    width: 1300px;
    justify-content: space-between;
}
.main_userpage_form {
    width: 850px;
    height: 970px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #868181;
    box-sizing: border-box;
    border-radius: 10px;
}
.input_nickname_form_user {
    width: 272px;
    border: none;
    border-bottom: solid 1px #D04FE6;
    font-size: 24px;
    margin-left: 100px;
}
.input_nickname_form_user:focus {
    outline: none;
}
.avatar__nickname {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.input_inf_in_filed {
    width: 275px;
    height: 45px;
    border-bottom: solid 1px #D04FE6;
}
.edit_input_inf {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    
}
.input_inf_in_filed > p {
    font-size: 24px;
}
.input_inf_in_field__style {
    border: none;
    font-size: 24px;
    width: 200px;
    margin-left: 15px;
}
.input_inf_in_field__style:focus {
    outline: none;
    transition: 0.3s;
    width: 250px;
}
.inform_on_user { 
    display: flex;
    flex-direction: column;
    height: 570px;
    justify-content: space-between;
    margin-top: 50px;
}
.button_to_save__style {
    width: 461px;
    height: 53px;
    border: 1px solid #A51DA8;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: white;
    font-size: 36px;
    line-height: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}