* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font: 16px Roboto;
}
.comment__text {
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    
}
.main_block_reviwes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.content_reviews {
    display: flex;
    width: 1300px;
}
.block_comment {
    width: 823px;
    min-height: 179px;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0px 15px 20px 0px rgba(184, 184, 184, 0.7);
}
.block_input_comment {
    height: 292px;
    width:448px;
    border: solid 1px black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    opacity: .9;
}
.input_comment__name > p{
    color: black;
}
.title_reviews_block_input > p {
    font-size: 62px;
}